<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Cute Animals</title>
</head>
<body>
    <div class="content">
        {% for filename in imgFiles: %}
            {% if num == -1 or loop.index <= num: %}
                <img src="/static/images/{{ filename }}">
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>
